body{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  background-color: #F0F0F0;
}

/* Start of the header section */

header {
    background-color: black;
    background-image: url("../images/header-png.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    padding: 20px;
    text-align: center;
    opacity: 0.8;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 40px;
}

header .logo a{
  background-image: url("../images/logo.png");
  background-size: 90px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  position: relative;
  text-indent: -999999999999px;
  top: -60px;
  height: 80px;

}

nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li{
  display: inline-block;
  margin-right: 20px;
  color: white;
}

/* End of the header */


/* Start of the main sections of the About Me page*/

.container{
  background: #F0F0F0;
  color: gray;
  padding: .5px 0px 0px 10px;
  margin: 0px;
}

.title h1{
  font-family: consolas;
  font-size: 50px;
  padding: 0 0 0 0;
  animation: type 5s;
  overflow: hidden;
  white-space: nowrap;

}

.cursor{
  display: inline-block;
  vertical-align: top;
  width: 5px;
  height:5px;
  animation: blink 1s infinite;
}



/* Start of the About me page */

.about-me{
  background-color: #F0F0F0;
  display: flex;
  flex-direction: row;
  margin: 0 0 0 -30px;
}

.about-me img{
  width: 400px;
  height: 350px;
  float: left;
  margin-right: 150px;
  border: 1px solid #fffafa;
  border-radius: 50%;
  box-shadow: black 10px 10px 100px;
}

.about-me p{
  margin: auto;
  font-size: 20px;
}


/* Skills section */

.skills {
  float: right;
  background: #F0F0F0;
  margin-top: 3%;
}


.skills caption{
  font-family: consolas;
  font-size: 50px;
  margin-bottom: 40px;
  text-shadow: 2px 1px black;
}


.skills table tr td, th{
  font-family: consolas;
  border-bottom: 1px solid #ddd;
  width: 500px;
  font-size: 30px;
  text-align: center;
}

/* Contact Section */

.contact-section{
  margin-top: 20%;
  font-size: 27px;
  margin-left: 70px;
  font-family: nick;
}

.contact-section h2{
  text-shadow: 2px 1px black;
}

.contact-section ul{
  list-style-type: none;
}

.contact-section hr{
  width: 330px;
  float: left;
}

/* End of the Contact Section */


/* Button Sections */

.button-section{
  background-color: #F0F0F0;
  color: gray;
  padding: 20px;
  float: right;
}

.btn {
  width: 200px;
  height: 50px;
  font-size: consoles;
}

.btn:hover,
.btn:focus {
  box-shadow: 1px 1px 2px black, 0 0 15px red, 0 0 5px darkred;
  transform: translateY(-8px);
}




footer{
  background: black;
  color; gray;
  font-size:12px;
  text-align: center;
  padding: 20px 20px;
  margin-top: 5%;
}

@@font-face {
  font-family: nick;
  src: url(fonts/nicholson_frensh_nvc.ttf);
}

@keyframes type{
  0%{width: 0ch;}
  100%{width:48ch;}
}

@keyframes blink {
  0%{ opacity: 1.0;}
  50% { opacity: 0.0;}
  100% { opacity: 1.0;}
}
